section.activities {
  background-color: rgba(255, 233, 206, 0.58);
  text-align: center;
  padding-top: 40px;
  h1 {
    font-size: 4.5em;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 66%;
    margin-top: 57px;
    position: relative;
    left: 17%;
    justify-content: space-between;
    .card {
      position: relative;
      height: 430px;
      width: 290px;
      margin-bottom: 50px;
      background-color: #F8F8F8;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.75));
      &:hover {
        bottom: 10px
      }
      & > img {
        position: relative;
        width: 100%;
      }
      @media(max-width: 1479px) {
        width: 220px;
      }

      div {
        position: relative;
        left: 5%;
        width: 90%;
        word-wrap: break-word;
        font-family: Montserrat, sans-serif;
        font-size: 1.125em;
        h6 {
          font-weight: 700;
          font-size: 1.25em;
          line-height: 2;
        }
      }
    }
  }
  .transfer {
    position: relative;
    background-image: url("img/transfer-3.png");
    background-size: contain;
    width: 100vw;
    height: 4vh;
    bottom: 0;
  }
}
