.activities {
  background-color: rgba(255, 233, 206, 0.58);
}
.activities > h1 {
  padding-top: 89px;
  margin-bottom: 51px;
  text-align: center;
  font-size: 72px;
  line-height: 91px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 1324px;
  padding-left: 28px;
  padding-right: 28px;
}
.card {
  width: 290px;
  height: 474px;
  background-color: #F8F8F8;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.75);
}
.card:nth-last-child(n+2) {
  margin-right: 36px;
}
.card:nth-last-child(n+4) {
  margin-bottom: 50px;
}
.card-body {
  font-family: Montserrat, sans-serif;
  text-align: center;
}
.card-body > h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}
.card-body > p {
  font-size: 18px;
  line-height: 22px;

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .cards {
      max-width: 980px;
      margin-left: auto;
      padding: 0;
      margin-bottom: 100px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .cards {
    max-width: 652px;
    padding-left: 50px;
  }
  .card:nth-last-child(1) {
    margin-bottom: 330px;
  }
}
