.bookings {
  padding-top: 44px;
}
.bookings > header {
  width: 906px;
  margin: 0 auto 54px auto;
}
.bookings > header h1 {
  font-size: 72px;
  line-height: 91px;
  text-align: center;
  margin-bottom: 56px;
}
#book {
  display: flex;
  justify-content: space-between;
}
#book input {
  display: block;
}
#book input[type="radio"] {
  appearance: none;
}
.book-label {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 11px;
}
#book input[type="date"] {
  width: 170px;
  height: 35px;
  background-color: #c4c4c4;
  border: none;
  border-radius: 32px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
}
label[for="familyhouse"], label[for="guestroom"] {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(75, 75, 75, 0.4);
  cursor: pointer;
}
#familyhouse:checked + label, #guestroom:checked + label {
  color: #000;
}
#book input[type="submit"] {
  width: 234px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: #F6E96D;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 24px;
}

.bookings-content {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  /*text-align: center;*/
  align-items: center;
}
.row:nth-child(even) {
  justify-content: flex-end;
}
.row-descriptor {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row-descriptor > h1 {
  font-size: 72px;
  line-height: 91px;
}
.row-descriptor > p {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (min-width : 1224px) {
  .big-image img {
    width: 840px
  }
  .row-descriptor > h1 {
    font-size: 48px;
    line-height: 72px;
  }
  .row-descriptor > p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .big-image img {
    width: 600px
  }
  .row-descriptor > h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .row-descriptor > p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .bookings > header {
    display: none;
  }
  .row {
    flex-direction: column;
    align-items: unset;
  }
  .row:nth-child(even) {
    flex-direction: column-reverse;
  }
  .row-descriptor {
    max-height: 200px;
    flex-wrap: wrap;
    align-items: normal;
  }
  .big-image, .big-image > img {
    width: 100vw;
  }
  .row-descriptor > h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 26px;
  }
  .row-descriptor > h1, .row-descriptor > p {
    width: 384px;
  }
  .row-descriptor > p {
    font-size: 20px;
    line-height: 22px;
  }
  .small-image img {
    height: 200px;
  }
  .row:nth-last-child(1) {
    margin-bottom: 30px;
  }
  .row:nth-child(even) .small-image {
    order: 3
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .bookings > header {
    display: none;
  }
  .row {
    flex-direction: column;
    align-items: unset;
  }
  .row:nth-child(even) {
    flex-direction: column-reverse;
  }
  .row-descriptor {
    max-height: 300px;
    flex-wrap: wrap;
    align-items: normal;
  }
  .big-image, .big-image > img {
    width: 320px;
  }
  .small-image img {
    width: 78px
  }
  .row-descriptor > h1 {
    font-size: 22px;
    line-height: 28px;
  }
  .row-descriptor > p {
    font-size: 10px;
    line-height: 12px;
  }
  /*.row-descriptor > h1, .row-descriptor > p {*/
  /*  width: 330px;*/
  /*}*/
  .row:nth-last-child(1) {
    margin-bottom: 30px;
  }
  .row:nth-child(even) .small-image {
    order: 3
  }
}
