.booking {
  .dates {
    position: relative;
    width: 47.2%;
    top: 44px;
    left: 27.2%;
    h1 {
      font-family: "Amatic SC", sans-serif;
      font-size: 4.5em;
      text-align: center;
    }

    form {
      display: flex;
      .arrival > label, .departure > label {
        font-family: Roboto, sans-serif;
        font-weight: 700;
      }
      .arrival > input, .departure > input {
        border: none;
        border-radius: 25px;
        background-color: #C4C4C4;
      }
      .type {
        h6 {
          font-family: Roboto, sans-serif;
          font-weight: 700;
        }
        input[type="radio"] {
          appearance: none;

          & + label {
            opacity: .45;
            cursor: pointer;
            font-family: Roboto, sans-serif;
            font-weight: 700;

          }
        &:checked + label {
          opacity: 1;
        }
        }
      }
      input[type="submit"] {
        position: relative;
        width: 234px;
        height: 40px;
        border: none;
        border-radius: 25px;
        background-color: #F6E96D;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
      }

    }
  }
  .advantage {
    display: flex;
    justify-content: space-between;
    img {
      width: 60%
    }
    &_icon-block {
      text-align: center;
      h1 {
        font-size: 3em
      }
      p {
        font-family: Montserrat, sans-serif;
        font-size: 1em
      }
    }
    &_icon-block:nth-child(even) {
      position: relative;
      top: 130px;
      right: 15%;
      max-width: 22.3%;
    }
    &_icon-block:nth-child(odd) {
      position: relative;
      top: 150px;
      left: 153px;
      max-width: 16.5%;
    }
  }
  .transfer {
    position: absolute;
    background-image: url("img/transfer-2.png");
    width: 100vw;
    height: 152px;
    background-size: cover;
  }
}
