.booking {
  max-width: 100vw;
  .dates {
    position: relative;
    width: 47.2%;
    top: 44px;
    left: 27.2%;
    margin-bottom: 3%;
    @media(max-width: 768px) {
      display: none;
    }
    @media(max-width: 1150px) {
      width: 70%;
      left: 17.2%;
    }
    @media(min-width: 769px) and (max-width: 1140px) {
      width: 80%;
      left: 13.2%
    }
    h1 {
      font-family: "Amatic SC", sans-serif;
      font-size: 4.5em;
      text-align: center;
    }

    form {
      display: flex;
      .arrival > label, .departure > label {
        font-family: Roboto, sans-serif;
        font-weight: 700;
      }
      .arrival > input, .departure > input {
        border: none;
        border-radius: 25px;
        background-color: #C4C4C4;
      }
      .type {
        h6 {
          font-family: Roboto, sans-serif;
          font-weight: 700;
          font-size: 1.125em;
        }
        input[type="radio"] {
          appearance: none;

          & + label {
            opacity: .45;
            cursor: pointer;
            font-family: Roboto, sans-serif;
            font-size: 1.125em;
            display: inline-block;
          }
        &:checked + label {
          opacity: 1;
        }
        }
      }
      input[type="submit"] {
        position: relative;
        width: 234px;
        height: 40px;
        border: none;
        border-radius: 25px;
        background-color: #F6E96D;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
      }

    }
  }
  .advantages {
    position: relative;

    .advantage {
      display: flex;
      position: relative;
      justify-content: space-between;
      height: 50vh;
      width: 100vw;
      @media(max-width: 769px) {
        display: block;
        height: auto;
      }
      img {
        @media(max-width: 769px) {
          width: 100%;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .adv-block {
          display: flex;
          left: 20%;
          @media(max-width: 1439px) {
            left: 10%;
          }
          @media(max-width: 769px) {
            display: flex;
            left: 0;
            width: 87.5%;
          }
          img {
            @media(max-width: 769px) {
              display: flex;
              left: 8.44%;
              width: 50%;

            }
          }
        }
      }
      &:nth-child(odd) {
        .adv-block {
          display: flex;
          right: 15%;
          @media(max-width: 1439px) {
            right: 10%;
          }
          @media(max-width: 769px) {
            right: 0;
            display: flex;
            width: 87.5%;
          }
          img {
            @media(max-width: 769px) {
              display: flex;
              left: 8.44%;
              width: 50%;

            }
          }
        }
      }

      .adv-block {
        position: relative;
        top: 15%;
        //left: 7.97%;
        width: 22.9%;
        text-align: center;
        //img {
        //  position: relative;
        //  width: 46.75%;
        //  height: 24.91%;
        //}
        h1 {
          font-size: 4.5em;
          font-weight: 700;
          @media(max-width: 1800px) {
            font-size: 4em
          }
        }
        span {
          font-family: Montserrat, sans-serif;
          font-size: 1.5em;
          @media(max-width: 1800px) {
            font-size: 1em
          }
        }
      }

    }
  }
  .transfer {
    position: absolute;
    background-image: url("img/transfer-2.png");
    width: 100vw;
    height: 30px;
    background-size: cover;
  }
}
