.bookings {
  padding-top: 44px;
}
.bookings > header {
  width: 906px;
  margin: 0 auto 54px auto;
}
.bookings > header h1 {
  font-size: 72px;
  line-height: 91px;
  text-align: center;
  margin-bottom: 56px;
}
#book {
  display: flex;
  justify-content: space-between;
}
#book input {
  display: block;
}
#book input[type="radio"] {
  appearance: none;
}
.book-label {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 11px;
}
#book input[type="date"] {
  width: 170px;
  height: 35px;
  background-color: #c4c4c4;
  border: none;
  border-radius: 32px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
}
label[for="familyhouse"], label[for="guestroom"] {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(75, 75, 75, 0.4);
  cursor: pointer;
}
#familyhouse:checked + label, #guestroom:checked + label {
  color: #000;
}
#book input[type="submit"] {
  width: 234px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: #F6E96D;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 24px;
}

.bookings-content {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  /*text-align: center;*/
  align-items: center;
}
.row:nth-child(even) {
  justify-content: flex-end;
}
.row-descriptor {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row-descriptor > h1 {
  font-size: 72px;
  line-height: 91px;
}
.row-descriptor > p {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 29px;
}

@media only screen and (min-width : 1224px) {
  .big-image img {
    width: 840px
  }
  .row-descriptor > h1 {
    font-size: 48px;
    line-height: 72px;
  }
  .row-descriptor > p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
  }

}
