.conditions {
  padding-top: 126px;
}
.conditions-table {
  display: flex;
  height: 547px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1324px;
  margin-bottom: 72px;
}
.left {
  border-right: 1px solid rgba(0, 0, 0, 0.6);
  width: 537px;
  padding-top: 70px;
}
.left > h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 60px;
}
.left-text > p {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 81px;
}
.left-text > input {
  width: 205px;
  height: 40px;
  background-color: #F6E96D;
  border: none;
  border-radius: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.right {
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  padding-top: 100px;
}
.conds {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    line-height: 29px;
    max-width: 784px;
    margin-left: 22px;
}
.conds tr td:nth-child(odd) {
  padding-left: 45px;
}
.conds tr td:nth-child(even) {
  padding-left: 21px;
}

.conditions-gallery {
  text-align: center;
  margin-bottom: 155px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .conditions-table {
    max-width: 980px;
  }
  .conditions-gallery img {
    width: 216px
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .conditions-table {
    flex-direction: column;
    max-width: 750px;
    height: auto;
  }
  .left {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: auto;
  }
  .left > h1 {
    text-align: center;
    width: 100%
  }
  .left-text {
    display: flex;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .left-text input {
    padding: 10px 10px
  }
  .right {
    border: none
  }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .conditions {
    padding-top: 62px;
  }
  .conditions-table {
    flex-direction: column;
    max-width: 280px;
    height: auto;
  }
  .left {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: auto;
    padding: 0;
  }
  .left > h1 {
    text-align: center;
    width: 100%;
    font-size: 33px;
    line-height: 42px;
  }
  .left-text {
    display: flex;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .left-text > p {
    font-size: 10px;
    line-height: 12px;
  }
  .left-text input {
    width: 122px;
    height: 22px;
    font-size: 10px;
    line-height: 12px;
    padding: 5px
  }
  .right {
    border: none;
    padding: 0;
  }
  .conds {
    max-width: 280px;
    margin: 0;
  }
  .conds img {
    width: 12px;
    height: 8px;
  }
  .conds td {
    font-size: 10px;
    line-height: 12px;
  }
  .conditions-table {
    max-width: unset;
  }
  .conditions-gallery {
    margin-left: 20px;
    display: flex;
    overflow: hidden;
  }
  .conditions-gallery img {
    width: 190px;
    height: 193px;
    margin-right: 10px;
  }
}
