.conditions {
  height: 100vh;
  &-text {
    display: flex;
    margin-bottom: 72px;
    height: 47.2%;
    position: relative;
    top: 10.9%;
    left: 4.55%;
    width: 91.1%;
    .left {
      width: 40%;
      h1 {
        font-size: 4em;
        line-height: 2;
        position: relative;
        top: 12.8%;
      }
      p {
        font-family: Montserrat, sans-serif;
        font-size: 1.5em;
        position: relative;
        top: 11%;
      }
      input {
        position: relative;
        top: 14.8%;
        width: 38.1%;
        height: 7.4%;
        border: none;
        border-radius: 25px;
        background-color: #F6E96D;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
      }
    }
    .right {
      box-sizing: border-box;
      border-left: 2px solid rgba(0, 0, 0, 0.6);
      width: 60%;
      table {
        position: relative;
        left: 5%;
        top: 18.3%;
        width: 100%;
        td {
          font-family: Montserrat, sans-serif;
          font-size: 1.5em;
        }

      }
    }
    }
  &-gallery {
    position: relative;
    top: 3.2%;
    left: 4.05%;
    display: flex;
    width: 91.9%;
    height: 22.4%;
    justify-content: space-between;
    img {
      width: 23.9%
    }
  }
  }

