.contacts {
  background-color: #647761;
}
.contacts-wrapper {
  width: 1324px;
  display: flex;
  margin: 172px auto 90px auto;
}
.contacts-text {
  height: 726px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  margin-right: 247px;
}
.contacts-text h1 {
  font-size: 72px;
  line-height: 91px;
  font-weight: 700;
  /*margin-bottom: 93px;*/
}
.contacts-text h6 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px
}
.contacts-text span {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px
}
.contacts-text input {
  width: 180px;
  height: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  background-color: #F6E96D;
  border: none;
  border-radius: 32px;
}
#map-contacts {
  width: 764px;
  height: 726px;
  outline: 1px solid red;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .contacts-wrapper {
    width: 980px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .contacts-wrapper {
    width: 750px;
    flex-direction: column;
  }
  .contacts-text {
    width: 100%;
    text-align: left;
  }
  .contacts-text > h1 {
    text-align: center;
  }
  .contacts-text > input {
    width: 132px;
    height: 42px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    position: relative;
    top: 21px;
    z-index: 9;
    left: 40%;
  }
  #map-contacts {
    width: 100%;
  }

}
