.contacts {
  background-color: #647761;
  height: 988px;
  display: flex;
  @media(max-width: 769px) {
    height: 92.85vh;
    display: block;
  }
  &-left {
    color: #fff;
    position: relative;
    left: 15.5%;
    top: 17.4%;
    width: 16.3%;
    height: 73.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: 769px) {
      height: 50.94%;
      width: 70.3%;
      top: 8.95%;
      left: 6.56%;
    }
    h1 {
      font-size: 4em;
      line-height: 1.2;
      @media(max-width: 769px) {
        font-size: 2em;
      }
    }
    div {
      font-family: Montserrat, sans-serif;
      line-height: 1.2;
      @media(max-width: 769px) {
        font-size: 0.625em;
      }
      h6 {
        font-size: 1.25em;
        font-weight: 700
      }
    }
    input {
      height: 3.1%;
      width: 57.7%;
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      border: none;
      border-radius: 25px;
      background-color: #F6E96D;
      cursor: pointer;
      @media(max-width: 769px) {
        position: absolute;
        width: 36.25%;
        top: 115%;
        z-index: 2;
        left: 44%;
        font-size: 0.5em;
      }
    }
  }
  &-right {
    width: 39.8%;
    height: 73.5%;
    position: relative;
    left: 18.7%;
    top: 17.4%;
    @media(max-width: 769px) {
      width: 100%;
      left: 0;
      height: 50.31%;
    }
    #map-contacts {
      position: relative;
      height: 100%
    }
  }
}
