.gallery {
  padding-top: 143px;
}
.gallery-container {
  width: 1324px;
  padding-left: 28px;
  padding-right: 28px;
}
.gallery-container > h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 94px;
}
.pictures-wrapper {
  width: 1324px;
  height: 640px;
  margin-bottom: 30px;
}
.main-pics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 640px;
}
#video-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
#video-wrapper video {
  height: 310px;
  width: 652px;
  margin-bottom: 20px;
}
.swiper-container {
  margin-bottom: 220px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .gallery-container, .pictures-wrapper {
    width: 980px;
  }
  .main-pics > img{
    width:485px;
    height: 521px;
    position: relative;
    top: 40px;
  }
  #video-wrapper > img, #video-wrapper > video {
    width: 485px;
  }
  .swiper-slide {
    width: 154px;
  }
}
