.gallery {
  padding-top: 143px;
}
.gallery-container {
  width: 1324px;
  padding-left: 28px;
  padding-right: 28px;
}
.gallery-container > h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 91px;
  margin-bottom: 94px;
}
.pictures-wrapper {
  width: 1324px;
  height: 640px;
  margin-bottom: 30px;
}
.main-pics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 640px;
}
#video-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
#video-wrapper video {
  height: 310px;
  width: 652px;
  margin-bottom: 20px;
}
.swiper-container {
  margin-bottom: 220px;
}
.mobile-video-button {
  display: none;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .gallery-container, .pictures-wrapper {
    width: 980px;
  }
  .main-pics > img{
    width:485px;
    height: 521px;
    position: relative;
    top: 40px;
  }
  #video-wrapper > img, #video-wrapper > video {
    width: 485px;
  }
  .swiper-slide {
    width: 154px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  .gallery-container {
    width: auto;
  }
  .gallery-container > h1 {
    text-align: center;
  }
  .pictures-wrapper {
    display: none;
  }
  .swiper-container {
    display: none;
  }
  .mobile-video-button {
    display: flex;
    width: 264px;
    height: 72px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    margin-bottom: 47px;
    justify-content: space-evenly;
  }
  .mobile-video-button > img {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  .mobile-video-button > span {
    font-family: Caveat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    /*text-align: center;*/
  }
}
