* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Amatic SC";
  src: url("fonts/amaticsc.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat.otf");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto.ttf");
}
@font-face {
  font-family: "Caveat";
  src: url("fonts/caveat.ttf");
}
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  font-family: "Amatic SC", sans-serif;
}

section, .footer {
  max-width: 100vw;
  overflow: hidden;
}
