.top {
  height: 100vh;
  background-image: url("img/bg.png");
  background-size: cover;
}
.top > header {
  display: flex;
  margin: 30px auto 160px auto;
}

.top > header img {
  width: 110px;
  height: 71px;
}

nav {
  margin-left: 220px;
  margin-right: 58px;
  margin-top: 33px;
}

.header-link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}

.header-link:nth-last-child(n+2) {
  margin-right: 28px;
}

.address {
  width: 424px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #fff;
}

.address > span:nth-child(1) {
  font-weight: 700;
}

.burger {
  display: none;
}

.top > h1 {
  width: 1000px;
  font-size: 144px;
  line-height: 182px;
  word-wrap: break-word;
  text-align: center;
  color: #fff;
  margin: 0 auto 135px auto;
}

.top > h1 > span {
  color: #F6E96D;
}

.top > h2 {
  font-family: Caveat, sans-serif;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  width: 670px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.top h2 > img {
  width: 36px;
  height: 66px;
  position: relative;
  top: 55px;
}

.tobook {
  display: none;
}


@media (min-width: 1600px) {
  .top > header {
    width: 1838px;
  }


  .address {
    width: 424px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #fff;
  }

  .address > span:nth-child(1) {
    font-weight: 700;
  }

  .top > h1 {
    width: 1000px;
    font-size: 144px;
    line-height: 182px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }

  .top > h1 > span {
    color: #F6E96D;
  }

  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .top > header {
    width: 1324px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 100px;
  }
  nav {
    margin-left: 80px;
    margin-right: 28px;
    margin-top: 33px;
  }
  .header-link {
    font-size: 12px;
  }
  .header-link:nth-last-child(n+2) {
    margin-right: 28px;
  }
  .address {
    width: 324px;
    font-size: 12px;
    text-align: right;
  }
  .top > h1 {
    width: 1000px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }

}

@media only screen and (min-width : 1224px) {
  .top > header {
    width: 1200px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 100px;
  }
  nav {
    margin-left: 80px;
    margin-right: 28px;
    margin-top: 33px;
  }
  .header-link {
    font-size: 10px;
  }
  .header-link:nth-last-child(n+2) {
    margin-right: 28px;
  }
  .address {
    width: 324px;
    font-size: 10px;
    text-align: right;
  }
  .top > h1 {
    width: 1000px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .top > header {
    width: 1000px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 100px;
  }
  nav {
    margin-left: 80px;
    margin-right: 28px;
    margin-top: 33px;
  }
  .header-link {
    font-size: 10px;
  }
  .header-link:nth-last-child(n+2) {
    margin-right: 7px;
  }
  .address {
    width: 224px;
    font-size: 8px;
    text-align: right;
  }
  .top > h1 {
    width: 1000px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .top nav {
    display: none;
  }
  .address {
    display: none;
  }
  .top header {
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
  }
    .burger {
      display: block;
      width: 28px
    }
  .burger hr {
    height: 2px;
    border: none;
    background-color: #fff;
  }
  .burger hr:nth-last-child(n+2) {
    margin-bottom: 4px;
  }
  .top > h1 {
    width: 750px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .tobook {
    display: block;
    height: 40px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F6E96D;
    border: none;
    border-radius: 32px;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .top > header img {
    width: 59px;
    height: 43px;
  }
  .top nav {
    display: none;
  }
  .address {
    display: none;
  }
  .top header {
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
  }
  .burger {
    display: block;
    width: 28px
  }
  .burger hr {
    height: 2px;
    border: none;
    background-color: #fff;
  }
  .burger hr:nth-last-child(n+2) {
    margin-bottom: 4px;
  }
  .top > h1 {
    width: 280px;
    font-size: 42px;
    line-height: 53px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 50px auto;
  }
  .tobook {
    display: block;
    height: 40px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F6E96D;
    border: none;
    border-radius: 32px;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 280px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
  }
}
