.top {
  height: 100vh;
  background-image: url("img/bg.png");
  background-size: cover;
}
.top > header {
  display: flex;
  margin: 30px auto 160px auto;
}

.top > header img {
  width: 110px;
  height: 71px;
}



nav {
  margin-left: 220px;
  margin-right: 58px;
  margin-top: 33px;
}

.header-link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}
.header-link:hover {
  border-bottom: 4px solid #F6E96D;
}
.header-link:nth-last-child(n+2) {
  margin-right: 28px;
}
.dropdown {
  height: 0;
  position: absolute;
  top: 90px;
  background-color: rgba(57, 57, 57, 0.54);
  transition: height 1s linear;
  overflow: hidden;
}
.dropdown.active {
  height: auto;
  padding: 27px 30px 29px 29px;
}
.dropdown a {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.dropdown a:nth-last-child(n+2) {
  margin-bottom: 17px;
}
.address {
  width: 424px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #fff;
}

.address > span:nth-child(1) {
  font-weight: 700;
}

.burger {
  display: none;
}

.top > h1 {
  width: 1000px;
  font-size: 144px;
  line-height: 182px;
  word-wrap: break-word;
  text-align: center;
  color: #fff;
  margin: 0 auto 135px auto;
  animation: glowing 1.5s ease-in infinite;
}
@keyframes glowing {
  0% {
    filter: drop-shadow(0 0 0 #fff);
  }
  50% {
    filter: drop-shadow(0 0 15px #fff);
  }
  100% {
    filter: drop-shadow(0 0 0 #fff);
  }
}

.top > h1 > span {
  color: #F6E96D;
}

.top > h2 {
  font-family: Caveat, sans-serif;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  width: 670px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.top h2 > img {
  width: 36px;
  height: 66px;
  position: relative;
  top: 55px;
  animation: bounce 1.5s ease-in infinite;
}
@keyframes bounce {
  0% {
    top: 55px
  }
  25% {
    top: 45px;
  }
  50% {
    top: 65px;
  }
  75% {
    top: 50px;
  }
  100% {
    top: 55px;
  }
}


.tobook {
  display: none;
}


@media (min-width: 1600px) {
  .top > header {
    width: 1838px;
  }


  .address {
    width: 424px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #fff;
  }

  .address > span:nth-child(1) {
    font-weight: 700;
  }

  .top > h1 {
    width: 1000px;
    font-size: 144px;
    line-height: 182px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }

  .top > h1 > span {
    color: #F6E96D;
  }

  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .top > header {
    width: 1324px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 100px;
  }
  nav {
    margin-left: 80px;
    margin-right: 28px;
    margin-top: 33px;
  }
  .header-link {
    font-size: 12px;
  }
  .header-link:nth-last-child(n+2) {
    margin-right: 28px;
  }
  .address {
    width: 324px;
    font-size: 12px;
    text-align: right;
  }
  .top > h1 {
    width: 1000px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }

}

@media only screen and (min-width : 1224px) {
  .top > header {
    width: 1200px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 100px;
  }
  nav {
    margin-left: 80px;
    margin-right: 28px;
    margin-top: 33px;
  }
  .header-link {
    font-size: 10px;
  }
  .header-link:nth-last-child(n+2) {
    margin-right: 28px;
  }
  .dropdown {
    height: 0;
    position: absolute;
    top: 90px;
    background-color: rgba(57, 57, 57, 0.54);
    transition: height 1s linear;
    overflow: hidden;
  }
  .dropdown.active {
    height: auto;
    padding: 27px 30px 29px 29px;
  }
  .dropdown a {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }
  .dropdown a:nth-last-child(n+2) {
    margin-bottom: 17px;
  }
  .address {
    width: 324px;
    font-size: 10px;
    text-align: right;
  }
  .top > h1 {
    width: 1000px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }

}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .top > header {
    width: 1000px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 100px;
  }
  nav {
    margin-left: 80px;
    margin-right: 28px;
    margin-top: 33px;
  }
  .header-link {
    font-size: 10px;
  }
  .header-link:nth-last-child(n+2) {
    margin-right: 7px;
  }
  .dropdown {
    height: 0;
    position: absolute;
    top: 90px;
    background-color: rgba(57, 57, 57, 0.54);
    transition: height 1s linear;
    overflow: hidden;
  }
  .dropdown.active {
    height: auto;
    padding: 17px 20px 19px 19px;
  }
  .dropdown a {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 9px;
    line-height: 14px;
    color: #fff;
  }
  .dropdown a:nth-last-child(n+2) {
    margin-bottom: 12px;
  }
  .address {
    width: 224px;
    font-size: 8px;
    text-align: right;
  }
  .top > h1 {
    width: 1000px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

  .top h2 > img {
    width: 36px;
    height: 66px;
    position: relative;
    top: 55px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .top nav {
    display: none;
  }
  .address {
    display: none;
  }
  .top header {
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
  }
    .burger {
      display: block;
      width: 28px;
      cursor: pointer;
    }
  .burger hr {
    height: 2px;
    border: none;
    background-color: #fff;
  }
  .burger hr:nth-last-child(n+2) {
    margin-bottom: 4px;
  }
  .top > h1 {
    width: 750px;
    font-size: 72px;
    line-height: 91px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 135px auto;
  }
  .mobile-aside {
    z-index: 9;
    background-color: rgba(21, 21, 21, 0.78);
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin-left: 100vw;
    transition: margin-left .5s linear;
  }
  /*.mobile-aside {*/
  /*  position: absolute;*/
  /*  right: 0;*/
  /*  visibility: hidden;*/
  /*  width: 0;*/
  /*  transition: width .5s linear;*/
  /*}*/
  .mobile-aside.active {
    margin-left: 0;
  }
  #close-aside {
    position: absolute;
    right: 22px;
    top: 15px;
    cursor: pointer;
  }
  .address.mobile {
    display: block;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    max-width: 442px;
    margin: 0 auto 26px auto;
    padding-top: 27px;
  }
  .address.mobile span:nth-child(1) {
    font-weight: 700
  }
  .header-link.mobile {
    max-width: 247px;
    padding-left: 14px;
    display: block;
    margin: auto auto;
    padding-bottom: 13px;
    padding-top: 12px;
    border-bottom: 1px solid black;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
  .header-link.mobile:hover {
    border-color: #F6E96D;
    color: #F6E96D;
  }
  .dropdown.mobile {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(21, 21, 21, 0.1);
    transition: height 1s linear;
    overflow: hidden;
    width: 214px;
  }
  .dropdown.mobile a {
    border-bottom: 1px solid black;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 14px;
    margin-left: 20px;
  }
  .dropdown.mobile a:hover {
    border-color: #F6E96D;
    color: #F6E96D;
  }
  .tobook {
    display: block;
    height: 40px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F6E96D;
    border: none;
    border-radius: 32px;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    width: 670px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .top > header img {
    width: 59px;
    height: 43px;
  }
  .top nav {
    display: none;
  }
  .address {
    display: none;
  }
  .top header {
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
  }
  .burger {
    display: block;
    width: 28px
  }
  .burger hr {
    height: 2px;
    border: none;
    background-color: #fff;
  }
  .burger hr:nth-last-child(n+2) {
    margin-bottom: 4px;
  }
  .top > h1 {
    width: 280px;
    font-size: 42px;
    line-height: 53px;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    margin: 0 auto 50px auto;
  }
  .tobook {
    display: block;
    height: 40px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F6E96D;
    border: none;
    border-radius: 32px;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
  }
  .top > h2 {
    font-family: Caveat, sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 280px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
  }
}
