.top {
  height: 100vh;
  background-image: url("img/bg.png");
  background-size: cover;
}
.top > header {
  margin: 30px 40px 160px 46px;
  display: flex;
  justify-content: space-between;
}
.top > header img {
  width: 110px;
  height: 71.35px;
}
.header-link {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21.09px;
}
nav {
  margin-left: 220px;
}
nav li {
  display: inline;
}
nav li:nth-last-child(n+2) {
  margin-right: 30px;
}
nav a {
  color: #fff;
}
.address {
  width: 424px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  text-align: right;
  color: #fff;
}
.address > span:nth-child(1) {
  font-weight: 700;
}
.top > h1 {
  width: 1000px;
  font-size: 144px;
  line-height: 181.58px;
  word-wrap: break-word;
  text-align: center;
  color: #fff;
  margin: 0 auto 135px auto;
}
.top > h1 > span {
  color: #F6E96D;
}
.top > h2 {
  font-family: Caveat, sans-serif;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  width: 670px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.top h2 > img {
  width: 36px;
  height: 66px;
  position: relative;
  top: 55px;
}
/*.top .transfer {*/
/*  background-image: url("img/transfer.png");*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  height: 152px;*/
/*  z-index: 9;*/
/*}*/
