.tours {
  background-color: #FFF2E3;
  padding-top: 118px;
}
.tours-wrapper {
  width: 1321px;
  margin-left: auto;
  margin-right: auto ;
}
.tours-wrapper > h1 {

  margin-bottom: 49px;
  font-size: 72px;
  line-height: 91px;

}
.map-box {
  height: 684px;
  display: flex;
  margin-bottom: 136px;
}
#map {
  width: 829px;
}
.map-aside {
  width: 495px;
}
.map-pic {
  height: 474px;
  background-size: cover;
}
.map-text {
  height: 210px;
  background-color: #fff;
}
#text-wrapper {
  width: 435px;
  height: 153px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}
.map-text h6 {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 45px;
  text-align: left;
}
#map, .map-aside .map-text, .map-pic {
  outline: 1px solid red;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .tours-wrapper {
    width: 980px
  }
  #map {
    width: 485px;
  }
}
